@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
    --brand-primary: #c1292e;
    --brand-background: #ffffff;
    --brand-active: #c1292e;
    --brand-header-background: #e2e1e1;
    --primary-red: #c1292e;
    --red-hover: #c1292e;
    --primary-white: #ffffff;
    --white-hover: #f2f2f2;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-blue-600 underline;
  }
}

@layer components {
  .btn {
    @apply p-3 bg-carnared rounded-md focus:outline-none text-white;
    @apply hover:bg-carnared transition-all;
    @apply focus:ring disabled:opacity-50;
  }

  .btn.danger {
    @apply bg-red-500 hover:bg-carnared;
  }

  .input {
    @apply rounded-md border-gray-300 transition-colors disabled:opacity-50;
  }

  .card {
    @apply p-5 rounded-md bg-white border;
  }

  .table-container {
    @apply border rounded-lg mt-5 shadow overflow-x-auto;
  }

  .table-filter {
    @apply flex flex-col lg:flex-row gap-5 rounded-lg p-3 shadow overflow-x-auto border;
  }

  .sidebar {
    @apply fixed h-full w-72 p-5 shadow flex flex-col transform -translate-x-72 bg-white lg:translate-x-0 transition-transform;
    background-image: url('../components/layout/assets/sidemenu-bg.jpg');
    @apply bg-cover bg-center bg-no-repeat;
  }

  .sidebar.show {
    @apply translate-x-0 !important;
  }

  .sidebaritem {
    background-color: #c1292e;
  }

  .urbanlogo {
    @apply h-24 bg-no-repeat;
    background-image: url('../components/layout/assets/urbano-logo-white.png');
  }
}
